// _mixins.scss
//
// Contains all functions used with mesh
// ==========================================================================

// String Replace
// ==========================================================================

/// Replace `$search` with `$replace` in `$string`
/// @author Hugo Giraudel
/// @param {String} $string - Initial string
/// @param {String} $search - Substring to replace
/// @param {String} $replace ('') - New value
/// @return {String} - Updated string
@function str-replace($string, $search, $replace: '') {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// Return Color from Palette
// ==========================================================================

/// @author Ainsley Clark
/// @param {String} $key - Key for pallette(color)alue
/// @return {Color} - Return hex
@function color($key) {
	@if map-has-key($palette, $key) {
		@return map-get($palette, $key);
	}

	@warn "Unknown `#{$key}` in $colors.";
	@return null;
}

// Pixel to REM Convertor
// ==========================================================================

/// @author Ainsley Clark
/// @param {String} $size - Size in pixels
/// @return {Color} - REM units
// Function for converting a px based font-size to rem.
@function px-to-rem($size) {
	$remSize: $size / 16px;
	//Default font size on html element is 100%, equivalent to 16px;
	@return #{$remSize}rem;
}

// Pixel to REM Convertor
// ==========================================================================

/// @author Bootstrap
/// @param {Color} - Hex
/// @return {Color} - Black or white text
@function color-contrast($color) {
	$r: red($color);
	$g: green($color);
	$b: blue($color);

	$yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

	@if ($yiq >= 190) {
		@return $black-text-color;
	} @else {
		@return $white-text-color;
	}
}
