// -----------------------------------------------------------------------------
// _browser.scss
// This file contains all styles related to the browser window in docs.
// -----------------------------------------------------------------------------

