.badge {
	display: inline-block;
	padding: $badge-padding;
	background-color: #999;
	color: #fff;
	border-radius: 3px;
	font-size: $badge-font-size;
	text-transform: uppercase;
	font-weight: $badge-font-weight;
	// line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	height: auto;
	margin-left: 10px;
}

%badge-properties {
	border: 0;
	color: #ffffff;
}

@if $badge-enable-colored {
	@each $color-name, $hex in $palette {
		.badge-#{$color-name} {
			@extend %badge-properties;
			@include badge-colored($hex);
		}
	}
}

@if $badge-enable-rounded {
	.badge-rounded {
		border-radius: 500px;
		padding: $badge-padding;
	}
}
