//_badges.scss
//
// Badges classes & styling with reference to palette.
// ==========================================================================

.badge {
    display: inline-block;
    position: relative;
    padding: 5px 12px;
    background-color: #999;
    color: #fff;
    border: 0;
    border-radius: 10rem;
    outline: none;
    font-size: 10px;
    text-transform: uppercase;
    height: auto;
    user-select: none;
}

%badge-properties {
    border: 0;
    color: #fff;
}

@if $badge-enable-colored {
    @each $color-name, $hex in $palette {
        .badge-#{$color-name} {
            @extend %badge-properties;
            @include badge-colored($hex);
        }
    }

    // simple badge
    .badge-simple {
        background-color: transparent;
        box-shadow: none;
        border: 0;
    }
}
