//_breadcrumb.scss
//
// Breadcrumbs with slashes & arrows.
// ==========================================================================

.breadcrumb {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	width: 100%;
	padding: 20px 15px;
	margin-bottom: 20px;

	&-item {
		a,
		a:visited {
			color: inherit;
			text-decoration: none;
		}

		//Slash breadcrumb
		&:after {
			content: '\002F';
			padding-right: 3px;
			font-size: 1rem;
			margin-left: 5px;
			margin-right: 5px;
		}
	}

	//Arrow breadcrumb
	&.breadcrumb-arrow &-item:after {
		content: '\203A';
	}

	//Remove last slash/arrow from breadcrumb
	&-item:last-child:after {
		content: none !important;
	}

	//Active color
	.active {
		color: $breadcrumb-active-color;
	}
}
