//_breadcrumb.scss
//
// Description
// ==========================================================================

///////////////////////////////////////////
//change brey black and white to be colors that fit the theme
//uses font-awesome icons -> if we switch icon sets just put codes in li.class:after content:"\code";
//////////////////////////////////////////

$trans-opacity: 0.5;
//to change seperator color (if no class is added for seperator color will default to same as the li/a text)
$black: black;
$white: white;
$grey: grey;

.breadcrumb {
	margin-bottom: 20px;
	padding: 0;
	display: flex;
	list-style: none;
	width: 100%;
	padding: 20px 15px;

	li {
		a {
			color: inherit;
			text-decoration: none;

			&:visited {
				color: inherit;
			}
		}
	}
	li:after {
		content: '/';
		padding-right: 3px;
		font-size: 1rem;
		margin-left: 5px;
		margin-right: 5px;
	}

	li:last-child:after {
		content: none;
	}
}
