//_modal.scss
//
// All styles related to modal using :target selector
// ==========================================================================

//_modal.scss
//
// All styles related to modal using :target selector
// ==========================================================================

/* Add animation (Standard syntax) */
@keyframes example {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes example2 {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.modal {
	$self: #{&};
	overflow-y: auto;

	///!SET TO NONE HERE
	display: none;

	///Target - make modal appear
	&:target {
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 9999999;

		&:before {
			opacity: 1;
		}
	}

	&:before {
		content: '';
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		position: fixed;
		background-color: $modal-background-color;
		opacity: 0;
		transition: all 0.2s;
		align-items: start;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 9999999;
	}

	&-container {
		max-width: 500px;
		position: relative;
		display: block;
		background-color: #fff;
		box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
		border-radius: 6px;
		border: 0;
		margin: 130px auto 0 auto;

		#{$self}-header {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 24px 24px 0;
		}

		.close {
			position: absolute;
			right: 10px;
			top: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 8px 16px;
			color: rgba(0, 0, 0, 0.4);
		}

		#{$self}-body {
			padding: 24px 24px 16px;
		}

		#{$self}-footer {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding: 0 24px 24px 24px;
		}
	}

	///Close button
	& .close {
		display: block;

		&:before {
			left: 0;
			top: 0;
			width: 100vw;
			height: 100vh;
			position: fixed;
			content: '';
			cursor: default;
			background: rgba(0, 0, 0, 0.4);
			z-index: -1;

			animation-name: example;
			animation-duration: 0.5s;
		}

		&:active {
			animation-name: example2;
			animation-duration: 15s;
		}
	}
}

.modal-centered {
	.modal-container {
		margin: auto;
	}
}
