//_borders.scss
//
//Add borders & border radius & colors
// ==========================================================================

.b-none {
	border: 0 !important;
}
.b {
	border: #{$border-width} solid map-get($border-colors, 'default') !important;
}
.b-light {
	border: #{$border-width} solid map-get($border-colors, 'light') !important;
}
.b-dark {
	border: #{$border-width} solid map-get($border-colors, 'dark') !important;
}

@each $color-abbrev, $color in $border-colors {
	$positions: (
		top: t,
		right: r,
		bottom: b,
		left: l
	);

	@each $property, $border-abbrev in $positions {
		@if ($color-abbrev == 'default') {
			.b-#{$border-abbrev} {
				border-#{$property}: #{$border-width} solid $color !important;
			}
		} @else {
			.b-#{$border-abbrev}-#{$color-abbrev} {
				border-#{$property}: #{$border-width} solid $color !important;
			}
		}
	}
}

//Border Radius
.br {
	border-radius: $border-radius-small !important;
}

.br-sm {
	border-radius: $border-radius !important;
}

.br-lg {
	border-radius: $border-radius-large !important;
}

.br-circle {
	border-radius: 100% !important;
}

.br-none {
	border-radius: 0 !important;
}

.br-top-left {
	border-top-left-radius: $border-radius !important;
}

.br-top-right {
	border-top-right-radius: $border-radius !important;
}

.br-bottom-left {
	border-bottom-left-radius: $border-radius !important;
}

.br-bottom-right {
	border-bottom-right-radius: $border-radius !important;
}

.br-top {
	border-top-left-radius: $border-radius !important;
	border-top-right-radius: $border-radius !important;
}

.br-right {
	border-top-right-radius: $border-radius !important;
	border-bottom-right-radius: $border-radius !important;
}

.br-bottom {
	border-bottom-right-radius: $border-radius !important;
	border-bottom-left-radius: $border-radius !important;
}

.br-left {
	border-top-left-radius: $border-radius !important;
	border-bottom-left-radius: $border-radius !important ;
}
