//_float.scss
//
//Add float - left, right & none to each mediaquery & breakpoint.
// ==========================================================================

@each $modifier, $breakpoint in $grid-properties {
	@include create-mediaquery($breakpoint) {
		.f#{$modifier}-left {
			float: left !important;
		}
		.f#{$modifier}-right {
			float: right !important;
		}
		.f#{$modifier}-none {
			float: none !important;
		}
	}
}

//Clearfix class
.clearfix::after {
	display: block;
	clear: both;
	content: '';
}
