/**
 * master.scss
 * Imports all files from abstracts, base, components, layout, pages & vendor
 * @author Ainsley Clark
 * @author URL:   https://www.ainsleyclark.com
 * @author email: info@ainsleyclark.com
 */
/*  ====================
    Abstracts
    ==================== */
/* ====================
    Base
    ==================== */
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
html {
  font-size: 87.5%;
}

@media (min-width: 768px) {
  html {
    font-size: 95%;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}

@media (min-width: 1408px) {
  html {
    font-size: 104%;
  }
}

main {
  position: relative;
}

.hash {
  padding-left: 30px;
}

@media (min-width: 768px) {
  .hash {
    padding-left: 0;
  }
}

.hash:before {
  content: url("../assets/svg/meshlogo.svg");
  position: absolute;
  height: auto;
  width: 25px;
  margin-top: 4px;
  color: #ff2451;
  margin-left: -30px;
}

@media (min-width: 768px) {
  .hash:before {
    position: absolute;
  }
}

/* ====================
    Vendor
    ==================== */
/* ====================
    Components
    ==================== */
ul.list {
  list-style-type: none;
  position: relative;
}

ul.list li {
  font-weight: 300;
  margin-bottom: 5px;
}

ul.list li:before {
  content: '';
  color: #ff2451;
  display: inline-block;
  background-color: #ff2451;
  height: 1.8px;
  width: 10px;
  top: -5px;
  position: relative;
  margin-right: 10px;
}

@media (min-width: 768px) {
  ul.list li:before {
    margin-left: -20px;
  }
}

pre {
  background: #f9f9f9;
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin: 0 0 25px 0;
  overflow-x: auto;
}

code {
  color: gray;
  text-shadow: 0 1px white;
  font-family: "Roboto Mono", Monaco, courier, monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  display: block;
  line-height: 1.8rem;
}

code.inline {
  font-size: 0.8rem;
  display: inline;
  color: #8270b8;
  white-space: normal;
  padding: 2px 6px;
  background: #f8f8f8;
  font-weight: 900;
}

.highlight {
  position: relative;
}

.highlight .html .hljs-string {
  color: #e93a5e;
}

.highlight .html .hljs-attr {
  color: #6d9d6f;
}

.highlight .html .hljs-name {
  color: #4f9fbc;
}

.highlight .copy-to-clipboard,
.highlight .copy-tick {
  display: none;
  width: 25px;
  max-height: 40px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .highlight .copy-to-clipboard,
  .highlight .copy-tick {
    display: block;
  }
}

.highlight .copy-tick {
  display: none;
}

.highlight .html:after {
  display: none;
  content: 'language-markup';
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-left: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom-left-radius: 3px;
  background-color: #ffffff;
  text-shadow: 0;
  color: rgba(0, 0, 0, 0.8);
}

@media (min-width: 768px) {
  .highlight .html:after {
    display: block;
  }
}

.table-code {
  border-collapse: collapse;
  font-size: 14px;
}

.table-code thead {
  border-bottom: 1px solid #ff2451;
  border-top: 1px solid #ff2451;
  font-size: 16px;
  margin: 10px 0;
}

.table-code thead th {
  padding: 15px 0;
}

.table-code tbody {
  font-family: "Roboto Mono", Monaco, courier, monospace;
  line-height: 1.4rem;
  color: gray;
  text-shadow: 0 1px white;
}

.table-code tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.table-code tbody tr td {
  padding: 5px 0;
}

.table-code tbody tr td:first-child {
  color: #8270b8;
}

/* ====================
    Layout
    ==================== */
header.primary {
  height: 72px;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

header.primary .logo {
  width: 45px;
}

header.primary nav.primary ul {
  list-style-type: none;
}

header.primary nav.primary ul li {
  font-size: 14px;
}

header.primary nav.primary ul a {
  color: #34495e;
}

header.primary nav.primary ul a:hover {
  color: #ff2451;
}

header.primary nav.primary ul .download {
  padding: 10px 40px;
}

header.primary nav.primary ul .download svg {
  width: 18px;
  height: auto;
}

header.primary nav.primary ul .download svg path {
  fill: #ff2451;
}

header.primary nav.primary ul .download:hover svg path {
  fill: #ffffff;
}

.header-spacer {
  height: 72px;
}

.sidenav {
  position: fixed;
  top: 72px;
  width: 320px;
  height: calc(100vh - 75px);
  border-right: 1px #e5e5e5 solid;
  padding: 45px 45px 60px 45px;
  overflow-y: scroll;
  transform: translateX(-100%);
  transition: transform 0.5s;
  background-color: #ffffff;
  z-index: 1;
}

.sidenav ul {
  list-style-type: none;
}

.sidenav .nav-header {
  text-transform: uppercase;
  font-size: 16px;
}

.sidenav .sub-list a {
  position: relative;
  color: #999;
}

.sidenav .sub-list a li {
  padding: 1px 0;
}

.sidenav .sub-list a:hover, .sidenav .sub-list a:active, .sidenav .sub-list a:focus {
  color: #ff2451;
}

.sidenav .sub-list .active li {
  color: #ff2451;
}

.sidenav .sub-list .active::before {
  content: '';
  position: absolute;
  top: 15px;
  left: -25px;
  width: 15px;
  border-top: 1px solid #ff2451;
}

@media (min-width: 1024px) {
  .sidenav {
    transform: translateX(0%);
  }
}

.smallnav-cont {
  top: 150px;
}

.smallnav-cont ul {
  list-style-type: none;
  max-width: 200px;
}

.smallnav-cont ul li,
.smallnav-cont ul a {
  color: #999;
  font-weight: 300;
  font-size: 14px;
}

.smallnav-cont ul a {
  transition: color 0.2s;
}

.smallnav-cont ul a:hover li {
  color: #ff2451;
}

.smallnav-cont ul li {
  margin: 8px 0;
}

.smallnav-cont ul.community .icon {
  width: 20px;
}

.smallnav-cont .table-of-contents .active {
  color: #ff2451;
}

.smallnav.fixed {
  position: fixed;
  top: 100px;
  margin-left: -1px;
}

.content {
  word-wrap: break-word;
}

.content h1:not(.normal-headings) {
  font-size: 2.2rem;
}

.content h2:not(.normal-headings) {
  font-size: 1.6rem;
}

.content h3:not(.normal-headings) {
  font-size: 1.3rem;
  margin: 0 0 5px 0;
}

@media (min-width: 1024px) {
  .content {
    padding-left: 320px;
  }
  .content .container-fullwidth {
    max-width: 1280px;
  }
}

.content article.section-scroll {
  margin-top: 80px;
}

.content .secondary-lead {
  margin-bottom: 1rem;
  margin-top: 10px;
}

.content .text-cont,
.content .btn {
  margin-bottom: 1rem;
}

.content .mb-25 {
  margin-bottom: 25px;
}

.content .mb-20 {
  margin-bottom: 20px;
}

.column-demo .row {
  margin: 0 -5px;
}

.column-demo .row.no-gaps {
  margin: 0;
}

.column-demo .row.no-gaps [class^='col-'] {
  padding: 0;
}

.column-demo [class^='col-'] {
  padding: 0 5px;
}

.column-demo .text {
  padding: 15px 0;
  background: #ff2451;
}

.column-demo .height-100 {
  height: 100px;
}

.column-demo .height-110 {
  height: 110px;
}

.column-demo .height-200 {
  height: 300px;
}

footer .footer-icon {
  width: 25px;
  margin-right: 10px;
}

@media (min-width: 768px) {
  footer {
    height: 72px;
  }
}

/* ====================
    Pages
    ==================== */
section.hero {
  height: calc(100vh - 75px);
  min-height: 500px;
}

section.hero .home-logo {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

section.hero .home-illusration {
  transform: scale(1.3);
}

.home-background {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.flex-page .line-height-4 {
  line-height: 4.5;
}

.spacing-page .spacing-table {
  font-size: 14px;
  font-family: "Roboto Mono", Monaco, courier, monospace;
  line-height: 1.4rem;
  color: gray;
  text-shadow: 0 1px white;
}

.spacing-page .spacing-table .column:nth-child(1),
.spacing-page .spacing-table .column:nth-child(3) {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.spacing-page .spacing-table .item {
  padding: 5px 0;
}

.sizing-page .height-200 {
  height: 200px;
}

.text-page .font-size-2 {
  font-size: 28px;
}

.borders-page .border-radius-demo .text {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.borders-page .h-300 {
  height: 300px;
}

.button-page .button-cont {
  margin-top: 20px;
}

.button-page .button-cont .btn {
  margin-right: 5px;
  margin-bottom: 10px;
}

.button-page pre {
  margin-top: 15px;
}
