// -----------------------------------------------------------------------------
// _content.scss
// This file contains styles for the content of the page (middle section).
// -----------------------------------------------------------------------------

.content {
	word-wrap: break-word;

	h1:not(.normal-headings) {
		font-size: 2.2rem;
	}

	h2:not(.normal-headings) {
		font-size: 1.6rem;
	}

	h3:not(.normal-headings) {
		font-size: 1.3rem;
		margin: 0 0 5px;
	}

	@include media-desk {
		padding-left: 320px;

		.container-fullwidth {
			max-width: 1280px;
		}
	}

	article.section-scroll {
		margin-top: 80px;
	}

	.secondary-lead {
		margin-bottom: 1rem;
		margin-top: 10px;
	}

	.text-cont,
	.btn {
		margin-bottom: 1rem;
	}

	.mb-25 {
		margin-bottom: 25px;
	}

	.mb-20 {
		margin-bottom: 20px;
	}

	//Table for properties, spacing & borders pages
	.table-props {
		.header {
			font-size: 1rem;
			font-weight: bold;

			span {
				width: 25%;
				text-align: center;
			}
		}

		.body {
			font-size: 14px;
			font-family: $font-code;
			line-height: 1.4rem;
			color: rgb(128, 128, 128);
			text-shadow: 0 1px white;

			.item {
				padding: 5px 0;
			}

			.line {
				width: 1px;
				background: $primary;
			}
		}
	}
}

//Small primary columns
.column-demo {
	.row {
		margin: 0 -5px;
	}

	.row.no-gaps {
		margin: 0;

		[class^='col-'] {
			padding: 0;
		}
	}

	[class^='col-'] {
		padding: 0 5px;
	}

	.text {
		padding: 15px 0;
		background: $primary;
	}

	//Vertical alignment classes under columns
	.height-100 {
		height: 100px;
	}

	.height-110 {
		height: 110px;
	}

	.height-200 {
		height: 300px;
	}
}
