// -----------------------------------------------------------------------------
// _content.scss
// This file contains styles for the content of the page (middle section).
// -----------------------------------------------------------------------------

.content {
	
	h1 {
		font-size: 2.2em;
	}

	h2 {
		font-size: 1.6em;
	}

	h3 {
		font-size: 1.4em;
		margin: 0 0 5px 0;
	}

	@include media-desk {
		padding-left: 320px;

		.container-fullwidth {
			max-width: 1280px;
		}
	}

	article.section-scroll {
		margin-top: 80px;
	}

	.secondary-lead {
		margin-bottom: 30px;
		margin-top: 10px;
	}

	.text-cont, 
	.btn {
		margin-bottom: 25px;
	}

	.mb-25 {
		margin-bottom: 25px;
	}

	.mb-20 {
		margin-bottom: 20px;
	}
}

//Small primary columns
.column-demo {
	
	.row {
		margin: 0 -5px;
	}

	.row.no-gaps  {
		margin: 0;

		[class^='col-'] {
			padding: 0;
			
		}
	}

	[class^='col-'] {
		padding: 0 5px;
	}

	.text {
		padding: 15px 0;
		background: $primary;
	}

	//Vertical alignment classes under columns
	.height-100 {
		height: 100px;
	}
}
