// -----------------------------------------------------------------------------
// _content.scss
// This file contains styles for the content of the page (middle section).
// -----------------------------------------------------------------------------

.content {
	h1 {
		font-size: 2.2em;
		//margin: 2.33333rem 0;
	}

	h2 {
		font-size: 1.6em;
	}

	h3 {
		font-size: 1.4em;
	}

	@include media-desk {
		padding-left: 320px;

		.container-fullwidth {
			max-width: 1280px;
		}
	}

	article.section-scroll {
		margin-top: 75px;
	}
}
