// -----------------------------------------------------------------------------
// _footer.scss
// This file contains all styles related to the footer of the site.
// -----------------------------------------------------------------------------

footer {
	.footer-icon {
		width: 25px;
		margin-right: 10px;
	}

	@include media-tab {
		height: $header-height;
	}
}
