// -----------------------------------------------------------------------------
// _footer.scss
// This file contains all styles related to the footer of the site.
// -----------------------------------------------------------------------------

footer {
	height: $header-height;

	.footer-icon {
		width: 25px;
		margin-right: 10px;
	}
}
