// -----------------------------------------------------------------------------
// _header.scss
// This file contains all styles related to the header of the site.
// -----------------------------------------------------------------------------

header.primary {
	height: $header-height;
	position: fixed;
	width: 100%;
	z-index: 9999;

	.logo {
		width: 45px;
	}

	nav.primary {
		ul {
			list-style-type: none;

			a {
				color: $text-color;
				letter-spacing: 1px;
			}

			li {
				font-size: 14px;
			}
		}
	}
}

.header-spacer {
	height: $header-height;
}
