// -----------------------------------------------------------------------------
// _header.scss
// This file contains all styles related to the header of the site.
// -----------------------------------------------------------------------------

header.primary {
	height: $header-height;
	position: fixed;
	width: 100%;
	z-index: 9999;

	.logo {
		width: 45px;
	}

	nav.primary {
		ul {
			list-style-type: none;

			li {
				font-size: 14px;
			}

			a {
				color: $text-color;

				&:hover {
					color: $primary;
				}
			}

			.download {
				padding: 10px 40px;

				svg {
					width: 18px;
					height: auto;
					max-height: 20px;

					path {
						fill: $primary;
					}
				}

				&:hover {
					svg path {
						fill: $white;
					}
				}
			}
		}
	}
}

.header-spacer {
	height: $header-height;
}
