// -----------------------------------------------------------------------------
// _sidenav.scss
// This file contains all styles related to the sidenav of the site.
// -----------------------------------------------------------------------------

.sidenav {
	position: fixed;
	top: $header-height;
	width: 320px;
	height: calc(100vh - 75px);
	border-right: 1px #e5e5e5 solid;
	padding: 45px 45px 60px 45px;
	overflow-y: scroll;
	transform: translateX(-100%);
	transition: transform 0.5s;
	background-color: $white;
	z-index: 1;

	ul {
		list-style-type: none;
	}

	.nav-header {
		text-transform: uppercase;
		font-size: 16px;
	}

	.sub-list {
		a {
			position: relative;
			color: $light-grey;

			li {
				padding: 1px 0;
			}

			@include on-event {
				color: $primary;
			}
		}

		.active {
			li {
				color: $primary;
			}

			&::before {
				content: '';
				position: absolute;
				top: 15px;
				left: -25px;
				width: 15px;
				border-top: 1px solid $primary;
			}
		}
	}

	@include media-desk {
		transform: translateX(0%);
	}
}
