// -----------------------------------------------------------------------------
// _smallnav.scss
// This file contains all styles related to the small navigation for documentation.
// -----------------------------------------------------------------------------

.smallnav-cont {
	top: 150px;
	

	ul {
		list-style-type: none;
		max-width: 200px;

		li,
		a {
			color: $light-grey;
			font-weight: 300;
			font-size: 14px;
		}

		li {
			margin: 12px 0;
		}
	}

	ul.community {
		.icon {
			width: 20px;
		}
	}

	.table-of-contents {
		.active {
			color: $primary;
		}
	}
}

.smallnav.fixed {
	position: fixed;
	top: 100px;
	margin-left: -1px;
}
