html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: $font-stack;
	font-size: 1rem;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased; // sass-lint:disable-line  no-vendor-prefixes
}

a,
a:visited {
	color: $black-text-color;
	text-decoration: none;
}

a {
	transition: color 0.2s;

	@include on-event {
		color: color(primary);
	}
}

ul {
	margin: 0;
	padding: 0;
}
