// -----------------------------------------------------------------------------
// _base.scss
// This file contains very basic styles to reset document.
// -----------------------------------------------------------------------------

html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
	box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
	color: #ffffff; //!SET
	text-decoration: none;

	@include on-event {
		color: #ffffff; //!SET
		text-decoration: underline;
	}
}
