// -----------------------------------------------------------------------------
// _typography.scss
// This file contains all type declerations (h1, h2, p etc) for whole site.
// -----------------------------------------------------------------------------

html {
	font-family: $font;
	color: $text-color;
}

p {
	font-weight: 300;
}
