// -----------------------------------------------------------------------------
// _typography.scss
// This file contains all type declerations (h1, h2, p etc) for whole site.
// -----------------------------------------------------------------------------

/**
 * Basic typography style for copy text
 */
body {
	color: $text-color;
	//!SET font: normal 125% / 1.4 $text-font-stack;
}
