// -----------------------------------------------------------------------------
// _typography.scss
// This file contains all type declerations (h1, h2, p etc) for whole site.
// -----------------------------------------------------------------------------

html {
	font-family: $font;
	color: $text-color;
}

h1 {
    font-size: 2.2em;
    margin: 2.33333rem 0;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

p {
    line-height: 1.6em;
    margin: 0.8em 0 -1.2em;
    padding-bottom: 1.2em;
	position: relative;
}

.hash:before {
    content: "#";
    position: absolute;
    width: 25px;
    margin-left: -25px;
    color: $primary;
}
