// -----------------------------------------------------------------------------
// _variables.scss
// This file contains all variables for scss files.
// -----------------------------------------------------------------------------

// Breakpoints
// ==========================================================================

$grid-breakpoint-mob: 568px;
$grid-breakpoint-tab: 768px;
$grid-breakpoint-desk: 1024px;
$grid-breakpoint-hd: 1408px;

// Colours
// ==========================================================================

$black: #000000;
$white: #ffffff;
$text-color: #34495e;
$primary: #ff2451;
$blue: #37abd4;
$purple: #8270b8;
$orange: #ff7100;
$light-grey: #999;

// Typography
// ==========================================================================

// Layout
// ==========================================================================
$header-height: 72px;
