//_colors.scss
//
// Add colors via color variables, darken & lighen.
// ==========================================================================

@each $color-name, $hex in $palette {
	@each $attr-name, $attr in $color-attr {
		.#{$attr-name}-#{'' + $color-name} {
			#{$attr}: $hex !important;
		}
	}
}
