//_float.scss
//
//Add float - left, right & none to each mediaquery & breakpoint.
// ==========================================================================

@each $modifier, $breakpoint in $grid-properties {
	@include create-mediaquery($breakpoint) {
		.f#{$modifier}-left {
			float: left;
		}
		.f#{$modifier}-right {
			float: right;
		}
		.f#{$modifier}-none {
			float: none;
		}
	}
}
