// -----------------------------------------------------------------------------
// _home.scss
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

section.hero {
	height: calc(100vh - 75px);
	min-height: 500px;
	background: #2d283e;
}
