@each $modifier, $breakpoint in $map-grid-props { 
    @include create-mediaquery($breakpoint) {

        /* Display Flex */
        .flex#{$modifier} {
            display: flex;
        }
        .flex#{$modifier}-inline {
            display: inline-flex;
        }
        
        /* Flex Direction */
        .flex#{$modifier}-row {
            flex-direction: row;
        }
        .flex#{$modifier}-row-reverse {
            flex-direction: row-reverse;
        }
        .flex#{$modifier}-column {
            flex-direction: column;
        }
        .flex#{$modifier}-column-reverse {
            flex-direction: column-reverse;
        }

        /* Justify Content */
        .justify-content#{$modifier}-start {
            justify-content: start;
        }
        .justify-content#{$modifier}-end {
            justify-content: end;
        }
        .justify-content#{$modifier}-center {
            justify-content: center;
        }
        .justify-content#{$modifier}-between {
            justify-content: space-between;
        }
        .justify-content#{$modifier}-around {
            justify-content: space-around;
        }
        .align-items#{$modifier}-start {
            align-items: flex-start;
        }

        /* Align Self & Align Items & Align Content */
        $align: 'self', 'items', 'content';

        @each $property in $align {
            .align-#{$property}#{$modifier}-end {
                align-#{$property}: flex-end;
            }
            .align-#{$property}#{$modifier}-center {
                align-#{$property}: center;
            }
            .align-#{$property}#{$modifier}-baseline {
                align-#{$property}: baseline;
            }
            .align-#{$property}#{$modifier}-stretch {
                align-#{$property}: stretch;
            }
        }

        /* Wrap */
        .flex#{$modifier}-wrap {
            flex-wrap: wrap;
        }
        .flex#{$modifier}-nowrap {
            flex-wrap: nowrap;
        }

        /* Fill */
        .flex#{$modifier}-fill {
            flex: 1 1 auto;
        }

        /* Grow & Shrink */
        .flex#{$modifier}-grow-0 {
            flex-grow: 0;
        }
        .flex#{$modifier}-grow-1 {
            flex-grow: 1;
        }
        .flex#{$modifier}-shrink-0 {
            flex-shrink: 0;
        }
        .flex#{$modifier}-shrink-1 {
            flex-shrink: 1;
        } 
    }
}
