// -----------------------------------------------------------------------------
// _base.scss
// This file contains very basic styles to reset document.
// -----------------------------------------------------------------------------


html {
	font-size: 87.5%;
	
	@include media-tab {
		font-size: 95%;
	}

	@include media-desk {
		font-size: 100%;
	}

	@include media-hd {
		font-size: 104%;
	}

}
main {
	position: relative;
}

