// -----------------------------------------------------------------------------
// _base.scss
// This file contains very basic styles to reset document.
// -----------------------------------------------------------------------------

html {
	font-size: 92.5%;

	@include media-tab {
		font-size: 97.5%;
	}

	@include media-desk {
		font-size: 100%;
	}
}
main {
	position: relative;
	//overflow-x: hidden;
}

//! Come back to, conflicts with lists
// a:not(.nohover) {
// 	transition: color 0.2s;

// 	@include on-event {
// 		color: color(primary);
// 	}
// }
