// -----------------------------------------------------------------------------
// _typography.scss
// This file contains all type declerations (h1, h2, p etc) for whole site.
// -----------------------------------------------------------------------------

.hash {
	padding-left: 30px;

	@include media-tab {
		padding-left: 0;
	}
}

.hash:before {
	content: url('../assets/svg/meshlogo.svg');
	position: absolute;
	height: auto;
	width: 25px;
	margin-top: 4px;
	color: $primary;
	margin-left: -30px;

	@include media-tab {
		position: absolute;
	}
}
