//_mixings.scss
//
//Contains all mixins used with mesh
// ==========================================================================

/// @mixin create-mediaquery
/// Dynamically creates media query based on $breakpoint variable.
/// @param {Number} $breakpoint - Initial breakpoint
@mixin create-mediaquery($breakpoint) {
	@if ($breakpoint == 0) {
		@content;
	} @else {
		@media (min-width: $breakpoint * 1px) {
			@content;
		}
	}
}

/// @mixin create-col-classes
/// Creates columns and offsets
/// @param {String} $modifier - Class
/// @param {Number} $grid-cols - Amount of columns
/// @param {Number} $breakpoint - Media breakpoint
@mixin create-col-classes($modifier, $grid-cols, $breakpoint) {
	@include create-mediaquery($breakpoint) {
		//Columns
		.col#{$modifier}-auto {
			flex: 0 0 auto;
			width: auto;
			max-width: 100%;
		}
		@for $i from 1 through $grid-columns {
			.col#{$modifier}-#{$i} {
				flex-basis: (100 / ($grid-columns / $i)) * 1%;
			}
		}
		.col#{$modifier}-offset-0 {
			margin-left: 0;
		}
		//Offsets
		@for $i from 1 through $grid-columns {
			.offset#{$modifier}-#{$i} {
				margin-left: (100 / ($grid-columns / $i)) * 1%;
			}
		}
	}
}

// Function for converting a px based font-size to rem.
@function px-to-rem($size) {
	$remSize: $size / 16px;
	//Default font size on html element is 100%, equivalent to 16px;
	@return #{$remSize}rem;
}
