// ==========================================================================
// mesh variables
// ==========================================================================
//
// Table of Contents:
//
//  1. Grid
//  2. Display
//  3. Spacing
//  4. Position
//  5. Sizing
//  6. Colours
//  7. Type
//  8. Borders
//	9. Spacers
//
//

// 1. Grid
// ==========================================================================

//Columns
$grid-columns: 12 !default;
$gap-width: 0.75rem !default;

//Defines Breakpoints
$grid-breakpoint-mob: 568 !default;
$grid-breakpoint-tab: 768 !default;
$grid-breakpoint-desk: 1024 !default;
$grid-breakpoint-hd: 1408 !default;

//Properties for Grid
$grid-properties: (
	'': 0,
	'-mob': $grid-breakpoint-mob,
	'-tab': $grid-breakpoint-tab,
	'-desk': $grid-breakpoint-desk,
	'-hd': $grid-breakpoint-hd
) !default;

// 2. Display
// ==========================================================================

$display-properties: (
	none,
	inline,
	inline-block,
	block,
	flex,
	inline-flex,
	table,
	table-row,
	table-cell
) !default;

// 3. Spacing
// ==========================================================================

$spacing-properties: (
	0: 0,
	1: 0.5rem,
	2: 0.75rem,
	3: 1rem,
	4: 2rem,
	5: 3rem
);

// 4. Position
// ==========================================================================

$position-properties: (relative, absolute, fixed, static, sticky) !default;

// 5. Sizing
// ==========================================================================

$sizing-properties: (
	10%, 
	20%, 
	30%, 
	40%, 
	50%, 
	60%, 
	70%, 
	80%, 
	90%, 
	100%
) !default;

// 6. Colour
// ==========================================================================

$palette: (
	colors: (
		red: #f44336,
		pink: #e91e63,
		purple: #9c27b0,
		deep-purple: #673ab7,
		indigo: #3f51b5,
		blue: #2196f3,
		light-blue: #03a9f4,
		cyan: #00bcd4,
		teal: #009688,
		green: #4caf50,
		light-green: #8bc34a,
		lime: #cddc39,
		yellow: #ffeb3b,
		amber: #ffc107,
		orange: #ff9800,
		deep-orange: #ff5722,
		brown: #795548,
		grey: #9e9e9e,
		blue-grey: #607d8b
	),
	attr: (
		color: 'color',
		bgcolor: 'background-color'
	)
) !default;

// 7. Type
// ==========================================================================

//Font Stack
$font-stack: Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT',
	'Myriad Pro', Myriad, 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma,
	Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Header Styles
$h1-fontsize: 4.2rem !default;
$h2-fontsize: 3.56rem !default;
$h3-fontsize: 2.92rem !default;
$h4-fontsize: 2.28rem !default;
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1.15rem !default;

//Font Sizes
$fontsize-properties: (
	1: 0.75rem,
	2: 1rem,
	3: 2rem,
	4: 3rem,
	5: 5rem,
	6: 7rem,
	7: 9rem
);

//Responsive Text
$range: $grid-breakpoint-hd - $grid-breakpoint-mob !default;
$points: 20 !default;
$point-size: $range / $points !default;

// 9. Spacers
// ==========================================================================

$spacer-properties: (
	5px,
	10px,
	15px,
	20px,
	25px,
	30px,
	35px,
	40px,
	45px,
	50px,
	75px,
	100px,
	150px,
	200px,
	300px,
	400px,
	500px
) !default;

// 9. Borders
// ==========================================================================
