// ==========================================================================
// mesh variables
// ==========================================================================
//
// Table of Contents:
//
//  1. Grid
//  2. Display
//  3. Spacing
//  4. Position
//  5. Sizing
//  6. Colours
//  7. Type
//  8. Spacers
//	9. Borders
//	10. Alerts
//	11. Buttons
//	10. Cards
//

// 1. Grid
// ==========================================================================

//Columns
$grid-columns: 12 !default;
$gap-width: 15px !default;

//Defines Breakpoints
$grid-breakpoint-mob: 568 !default;
$grid-breakpoint-tab: 768 !default;
$grid-breakpoint-desk: 1024 !default;
$grid-breakpoint-hd: 1408 !default;

//Properties for Grid
$grid-properties: (
	'': 0,
	'-mob': $grid-breakpoint-mob,
	'-tab': $grid-breakpoint-tab,
	'-desk': $grid-breakpoint-desk,
	'-hd': $grid-breakpoint-hd
) !default;

// 2. Display
// ==========================================================================

$display-properties: (none, inline, inline-block, block, flex, inline-flex, table, table-row, table-cell) !default;

// 3. Spacing
// ==========================================================================

$spacing-properties: (
	0: 0,
	1: 0.5rem,
	2: 0.75rem,
	3: 1rem,
	4: 2rem,
	5: 3rem
);

// 4. Position
// ==========================================================================

$position-properties: (relative, absolute, fixed, static, sticky) !default;

// 5. Sizing
// ==========================================================================

$sizing-properties: (10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100%) !default;

// 6. Colour
// ==========================================================================

$palette: (
	white: #ffffff,
	black: #000000,
	dark: #363636,
	muted: #999999,
	light: #e8e8e8,
	primary: #ff2451,
	secondary: #8270b8,
	success: #55b559,
	info: #37abd4,
	warning: #ff9e0f,
	danger: #f55145,
	link: #3763d4
) !default;

//Color Attributes
$color-attr: (
	c: 'color',
	bg: 'background-color'
) !default;

// 7. Type
// ==========================================================================

//Font Stack
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
$font-stack: Roboto, Helvetica, Arial, sans-serif;
//$font-stack: Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Sizes
$h1-font-size: 3.31rem !default;
$h2-font-size: 2.25rem !default;
$h3-font-size: 1.56rem !default;
$h4-font-size: 1.12rem !default;
$h5-font-size: 1.06rem !default;
$h6-font-size: 0.75rem !default;
$lead-font-size: 1.25rem !default;
$paragraph-font-size: 1rem !default;
$small-font-size: 75% !default;

//Colors
$black-text-color: #3c4858;
$white-text-color: #ffffff;

//Responsive Text
$range: $grid-breakpoint-hd - $grid-breakpoint-mob !default;
$responsive-text-points: 20 !default;
$point-size: $range / $responsive-text-points !default;

// 8. Spacers
// ==========================================================================

$spacer-properties: (5px, 10px, 15px, 20px, 25px, 30px, 35px, 40px, 45px, 50px, 75px, 100px, 150px, 200px, 300px, 400px, 500px) !default;

// 9. Borders
// ==========================================================================

//Border Colors
$border-colors: (
	default: rgba(0, 0, 0, 0.3),
	light: rgba(0, 0, 0, 0.1),
	dark: rgba(0, 0, 0, 0.6)
) !default;

//Border Widths
$border-width: 1px !default;
$border-width-2: 2px !default;
$border-width-3: 3px !default;

//Border Radius
$border-radius: 0.5em !default;
$border-radius-small: 0.25em !default;
$border-radius-large: 1 !default;

// 10. Alerts
// ==========================================================================

// 11. Buttons
// ==========================================================================

//Button Types
$button-enable-colored: true;
$button-enable-disabled: true;
$button-enable-outline: true;
$button-enable-sizes: true;
$button-enable-rounded: true;
$button-enable-icons: true;
$button-enable-block: true;
$button-enable-loading: true;

//Padding
$button-padding-small: 6px 20px !default;
$button-padding-medium: 12px 30px !default;
$button-padding-large: 18px 40px !default;
$button-padding-round: 12px 40px !default;

//Font
$button-font-size: 14px !default;
$button-font-weight: 400;

//Shadows & Hover
$button-enable-shadows: true;

// 12. Badges
// ==========================================================================

// Badge Types
$badge-enable-colored: true;

// 13. Cards
// ==========================================================================

// Default card sizes
$card-default-width: 300px !default;
$card-default-width-large: 500px !default;

// Default Card Padding
$card-default-padding: 12px 30px !default;
$card-default-header-icon-padding: 5px 0 5px 30px !default;
$card-default-media-img-title-padding: 5px 30px !default;

// Card Media-Header Size
$card-default-media-header-height: 150px !default;

// Default Card Font Sizes
$card-default-title-font-size: 18px !default;
$card-default-content-font-size: 16px !default;

// 14. Table
// ==========================================================================
$table-font-size: 16px !default;
$table-heading-font-size: 18px !default;
$table-padding: 10px 15px !default;
$table-standard-border: 1px solid #f0f0f0 !default;
$table-striped-color: #fdadad !default;
$table-hover-color: #aaffaa !default;

// 15. Toast
// ==========================================================================
$toast-width: 256px !default;
$toast-width-large: 512px !default;
$toast-padding: 12px 30px !default;
