// ==========================================================================
// mesh variables
// ==========================================================================
//
// Table of Contents:
//
//  1. Grid
//  2. Display
//  3. Spacing
//  4. Position
//  5. Sizing
//  6. Colours
//  7. Type
//  8. Borders
//	9. Spacers
//	10. Buttons
//

// 1. Grid
// ==========================================================================

//Columns
$grid-columns: 12 !default;
$gap-width: 0.75rem !default;

//Defines Breakpoints
$grid-breakpoint-mob: 568 !default;
$grid-breakpoint-tab: 768 !default;
$grid-breakpoint-desk: 1024 !default;
$grid-breakpoint-hd: 1408 !default;

//Properties for Grid
$grid-properties: (
	'': 0,
	'-mob': $grid-breakpoint-mob,
	'-tab': $grid-breakpoint-tab,
	'-desk': $grid-breakpoint-desk,
	'-hd': $grid-breakpoint-hd
) !default;

// 2. Display
// ==========================================================================

$display-properties: (none, inline, inline-block, block, flex, inline-flex, table, table-row, table-cell) !default;

// 3. Spacing
// ==========================================================================

$spacing-properties: (
	0: 0,
	1: 0.5rem,
	2: 0.75rem,
	3: 1rem,
	4: 2rem,
	5: 3rem
);

// 4. Position
// ==========================================================================

$position-properties: (relative, absolute, fixed, static, sticky) !default;

// 5. Sizing
// ==========================================================================

$sizing-properties: (10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100%) !default;

// 6. Colour
// ==========================================================================

$palette: (
	white: #ffffff,
	black: #000000,
	muted: #f8f8f8,
	primary: #ff2451,
	link: #3763d4,
	info: #37abd4,
	success: #37d43c,
	warning: #ff7100,
	danger: #ff3324
) !default;

//Color Attributes
$color-attr: (
	c: 'color',
	bg: 'background-color'
) !default;

// 7. Type
// ==========================================================================

//Font Stack
$font-stack: Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Sizes
$h1-fontsize: 3.5rem !default;
$h2-fontsize: 3rem !default;
$h3-fontsize: 2.75rem !default;
$h4-fontsize: 2rem !default;
$h5-fontsize: 1.5rem !default;
$h6-fontsize: 1.25rem !default;
$lead-fontsize: 1.25rem !default;
$small-font-size: 75% !default;

//Responsive Text
$range: $grid-breakpoint-hd - $grid-breakpoint-mob !default;
$responsive-text-points: 30 !default;
$point-size: $range / $responsive-text-points !default;

// 9. Spacers
// ==========================================================================

$spacer-properties: (5px, 10px, 15px, 20px, 25px, 30px, 35px, 40px, 45px, 50px, 75px, 100px, 150px, 200px, 300px, 400px, 500px) !default;

// 9. Borders
// ==========================================================================

//Borders
$border-colors: (
	default: rgba(0, 0, 0, 0.3),
	light: rgba(0, 0, 0, 0.1),
	dark: rgba(0, 0, 0, 0.6)
);

$border-width: 1px;
$border-width-2: 2px;
$border-width-3: 3px;

//Border Radius
$border-radius: 0.5em;
$border-radius-small: 0.25em;
$border-radius-large: 1;

// 10. Buttons
// ==========================================================================

//Colours
$button-colors: (
	light: #e8e8e8,
	dark: #363636,
	disabled: rgb(157, 157, 157)
);

//Padding
$button-padding-small: 6px 20px;
$button-padding-medium: 12px 30px;
$button-padding-large: 18px 40px;
$button-padding-round: 12px 40px;
$button-font-size: 14px;
