// ==========================================================================
// Mesh variables
// ==========================================================================
//
// Table of Contents:
//
//  1. Grid
//  2. Spacing
//  3. Sizing
//  2. Colours
//  3. Type

// 1. Grid
// ==========================================================================

//Columns
$grid-columns: 12;
$gap-width: 0.75rem;

//Defines Greakpoints
$grid-breakpoint-mob: 568;
$grid-breakpoint-tab: 768;
$grid-breakpoint-desk: 1024;
$grid-breakpoint-hd: 1408;

//Props for Grid
$map-grid-props: (
	'': 0,
	'-mob': $grid-breakpoint-mob,
	'-tab': $grid-breakpoint-tab,
	'-desk': $grid-breakpoint-desk,
	'-hd': $grid-breakpoint-hd
);

// 2. Spacing
// ==========================================================================

$map-spacing-props: (
	0: 0,
	1: 0.5rem,
	2: 0.75rem,
	3: 1rem,
	4: 2rem,
	5: 3rem
);

// 3. Sizing
// ==========================================================================

$map-sizing-props: ();

// 4. Colour
// ==========================================================================

$black: #222629;
$white: #ffffff;
$grey: #c5c6c7;
$primary: #66fcf1;
$primary-off: #45a29e;

$palette: (
	colors: (
		black: $black,
		white: $white,
		grey: $grey,
		primary: $primary,
		primaryoff: $primary-off
	),
	attr: (
		color: 'color',
		bgcolor: 'background-color',
		fill__: 'fill',
		stroke__: 'stroke'
	)
);

// 5. Type
// ==========================================================================

//Font Sizes
$map-fontsize-props: (
	1: 0.75rem,
	2: 1rem,
	3: 2rem,
	4: 3rem,
	5: 5rem,
	6: 7rem,
	7: 9rem
);

//Flow Text
$range: $grid-breakpoint-hd - $grid-breakpoint-mob !default;
$intervals: 20 !default;
$interval-size: $range / $intervals !default;
