/**
 * master.scss
 * Imports all files from abstracts, base, components, layout, pages & vendor
 * @author Ainsley Clark
 * @author URL:   https://www.ainsleyclark.com
 * @author email: info@ainsleyclark.com
 */

/*  ====================
    Abstracts
    ==================== */
@import 'abstracts/_variables.scss';
@import 'abstracts/_functions.scss';
@import 'abstracts/_mixins';

/* ====================
    Base
    ==================== */
@import 'base/_normalize'; //Not neccessary if bootstrap is used.
@import 'base/_global';
@import 'base/_fonts';
@import 'base/_typography';

/* ====================
    Vendor
    ==================== */

/* ====================
    Components
    ==================== */
@import 'components/_buttons';

/* ====================
    Layout
    ==================== */
@import 'layout/_header';
@import 'layout/_footer';

/* ====================
    Pages
    ==================== */
