//_alerts.scss
//
// Alerts for mesh, different colours & fullwidth etc.
// ==========================================================================

.alert {
	$self: &;

	border: 0;
	font-weight: 300;
	position: relative;
	padding: 20px 15px;
	line-height: 20px;
	margin-bottom: 20px;
	font-size: 1rem;
	background: lighten($alert-default-background-color, 80%);
	border-left: 3px solid $alert-default-background-color;

	&-container {
		position: relative;
	}

	&-close {
		padding-right: 2.8rem;
	}

	//CSS close method
	@if $alert-enable-css-close {
		&-toggle {
			display: none;
			position: absolute;
			top: -999999px;
			left: -999999px;
		}

		&-toggle:checked ~ .alert {
			display: none;
		}
	}
}

// Default & colored alerts
// ==========================================================================

//Common props
%alert-backgrond {
	border: 0;
}

//Colored alerts
@each $color-name, $hex in $palette {
	//Default Alerts
	.alert-#{'' + $color-name} {
		border-left: 3px solid $hex;
		background: lighten($hex, 32%);
		color: darken($hex, 25%);
	}

	//Background alerts
	@if $alert-enable-background {
		.alert-#{'' + $color-name}.alert-background {
			@extend %alert-backgrond;
			background-color: $hex;
			color: color-contrast($hex);

			@if $alert-enable-background-shadows {
				box-shadow: 0 12px 20px -10px rgba($hex, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba($hex, 0.2);
			}
		}
	}
}

// Close button styling
// ==========================================================================

//Common props
button.close,
label.close {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 26px;
	color: inherit;

	&:not(:disabled) {
		cursor: pointer;
	}
}

//Normal close button styling
button.close {
	background-color: transparent;
	height: 100%;
	border: 0;
	-webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
	padding: 0.75rem 1.25rem;
	color: inherit;
	outline: none;
}

//Label close styling (for CSS checkbox)
@if $alert-enable-css-close {
	label.close {
		padding: 1.25rem;
	}
}
