//_badges.scss
//
// Badges classes & styling with reference to palette.
// ==========================================================================

.badge {
	display: inline-flex;
	align-items: center;
	padding: $badge-padding;
	background-color: #999;
	color: #fff;
	border-radius: 3px;
	font-size: $badge-font-size;
	text-transform: uppercase;
	font-weight: $badge-font-weight;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	height: auto;
	margin-right: 5px;
	user-select: none;
}

%badge-properties {
	border: 0;
	color: #ffffff;
}

@if $badge-enable-colored {
	@each $color-name, $hex in $palette {
		.badge-#{'' + $color-name} {
			@extend %badge-properties;
			color: color-contrast($hex);
			background-color: $hex;
		}
	}
}

@if $badge-enable-rounded {
	.badge-rounded {
		border-radius: 500px;
		padding: $badge-padding;
	}
}

@if $badge-enable-deletable {
	.badge-close {
		position: relative;
		border-radius: 500px;
		transition: 0.3s ease;
		transition-property: padding-right;
		padding-right: 20px;

		.badge-delete {
			position: absolute;
			font-size: 12px;
			right: 5px;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1;
			transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
			color: #fff;
			padding: 4px;
		}

		@include media-desk {
			padding: $badge-padding;

			.badge-delete {
				opacity: 0;
				right: 8px;
			}

			&:hover {
				padding-right: 20px;

				.badge-delete {
					opacity: 1;
					transform: translate(20%, -50%);
					cursor: pointer;
				}
			}
		}
	}
}
