//_collapse.scss
//
// Collapsible content
// ==========================================================================
// sass-lint:disable nesting-depth

.collapse {
	$self: &;
	position: relative;

	&-item {

		#{$self}-header {
			padding: 25px 10px 5px 0;
			cursor: pointer;
			position: relative;
			border-bottom: 1px solid #ddd;
			display: flex;
			justify-content: space-between;
			align-items: center;
			outline: none;

			#{$self}-title {
				margin-top: 10px;
			}

			&:hover {
				#{$self}-title, i {
					color: color('secondary');
				}
			}

			&:focus, &:active {
				#{$self}-title, i {
					color: color('secondary');
				}

				i {
					transform: rotate(180deg);
				}
			}

			i {
				transition: 0.4s;
			}
		}

		#{$self}-content {
			padding: 15px 15px 20px;
		}
	}
}

@if $alert-enable-css-close {
	.collapse {
		$self: &;

		&.collapse-css {
			#{$self}-content {
				display: none;
			}

			#{$self}-toggle {
				display: none;
				position: absolute;
				top: -999999px;
				left: -999999px;
			}

			#{$self}-toggle:checked ~ #{$self}-content {
				display: block;
			}
		}
	}
}

@if $alert-enable-js-close {
	.collapse {
		$self: &;

		&-item.active {
			#{$self}-header i {
				transform: rotate(180deg);
			}

			#{$self}-title, i {
				color: color('secondary');
			}
		}

		&.collapse-js {

			#{$self}-content {
				max-height: 0;
				overflow: hidden;
				padding: 0;
				transition: 0.5s;

				.inner {
					padding: 15px 15px 20px;
				}
			}
		}
	}
}
