//_pagination.scss
//
// All styles related to pagination
// ==========================================================================

.pagination {
	display: flex;
	padding-left: 0;
	list-style: none;
	border-radius: 0.25rem;

	.page-item {
		border: 0;
		margin: 0 6px;
		padding: 0;
		min-width: 30px;
		height: $pagination-height;
		line-height: $pagination-height;
		color: $pagination-text-color;
		font-weight: 400;
		font-size: $pagination-font-size;
		text-transform: uppercase;
		background: transparent;
		text-align: center;
		cursor: pointer;

		//Add border radius if variable true
		@if $pagination-rounded {
			border-radius: 30px !important;
		}

		a {
			color: inherit;
		}

		&:hover {
			color: $pagination-active-color;
		}

		//Set pagination active color
		&.active {
			background-color: $pagination-active-color;
			border-color: $pagination-active-color;
			color: color-contrast($pagination-active-color) !important;

			@if $pagination-enable-shadow {
				box-shadow: 0 4px 5px 0 rgba($pagination-active-color, 0.14), 0 1px 10px 0 rgba($pagination-active-color, 0.12), 0 2px 4px -1px rgba($pagination-active-color, 0.2);
			}

			a {
				color: inherit;
			}
		}

		//Give 0 margin to first and last .page-item
		&:first-of-type {
			margin-left: 0;
		}
		&:last-of-type {
			margin-right: 0;
		}
	}

	//Button
	.prev-btn,
	.next-btn {
		text-transform: uppercase;
	}

	//Arrows
	.prev-arrow,
	.next-arrow {
		font-size: 24px;
	}

	//Give extra margin to arrows/buttons
	.prev-btn,
	.prev-arrow {
		margin-right: 15px;
	}

	.next-btn,
	.next-arrow {
		margin-left: 15px;
	}
}
