//_toast.scss
//
// Toasts to appear via js function
// ==========================================================================

.toast {
	$self: &;

	position: absolute;
	width: auto;
	max-width: 100%;
	height: auto;
	min-height: 48px;
	top: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 100;
	font-weight: 300;
	line-height: 1.6;
	cursor: default;

	&-body {
		border-radius: 3px;
		color: #fff;
		position: relative;
		padding: $toast-padding;
		margin-bottom: 10px;

		& .toast-control {
			position: absolute;
			top: 10px;
			right: 20px;
		}

		&.toast-show {
			animation: toast-show-animation 2s 1;
		}
	}

	//Rounded
	&-rounded #{$self}-body {
		border-radius: 24px;
	}

	//Block (full-width)
	&-block #{$self}-body {
		width: 100%;
	}

	//Block (full-width)
	&-action {
		font-weight: 500;
		margin-left: 3rem;
	}
}

// Show animation
// ==========================================================================

@keyframes toast-show-animation {
	0% {
		opacity: 0;
		transform: translateY(20px);
		display: none;
	}
	15% {
		opacity: 1;
		transform: translateY(0);
		display: block;
	}
	85% {
		opacity: 1;
		transform: translateY(0);
		display: block;
	}
	100% {
		opacity: 0;
		transform: translateY(-20px);
		display: none;
	}
}
