//_toast.scss
//
// Toasts to appear via js function
// ==========================================================================

.toast {
	$self: &;

	position: absolute;
	width: auto;
	max-width: 100%;
	height: auto;
	min-height: 48px;
	top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-weight: 300;
	line-height: 1.6;
	z-index: 9999;
	cursor: default;

	&-body {
		border-radius: 3px;
		color: #fff;
		position: relative;
		padding: $toast-padding;
		width: 95vw;
		margin: 0 auto 10px;

		@include media-tab {
			width: auto;
			margin: 0 0 10px;
		}

		& .toast-control {
			position: absolute;
			top: 10px;
			right: 20px;
		}

		&.toast-show {
			animation: toast-show-animation 2s 1;
		}
	}

	//Positions
	&-top-right,
	&-top-left,
	&-top-center,
	&-bottom-right,
	&-bottom-left,
	&-bottom-center {
		position: fixed;
	}

	&-top-right,
	&-top-left,
	&-top-center {
		top: 20px;
		left: 50%;
		transform: translateX(-50%);
	}

	&-bottom-right,
	&-bottom-left,
	&-bottom-center {
		top: auto;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
	}

	@include media-tab {
		&-top-right {
			top: 20px;
			right: 20px;
			transform: none;
			left: auto;
		}

		&-top-left {
			top: 20px;
			left: 20px;
			right: 20px;
			transform: none;
		}

		&-top-center {
			top: 20px;
			left: 50%;
			transform: translateX(-50%);
		}

		&-bottom-right {
			top: auto;
			bottom: 20px;
			right: 20px;
			left: auto;
			transform: none;
		}

		&-bottom-left {
			top: auto;
			bottom: 20px;
			left: 20px;
			transform: none;
		}

		&-bottom-center {
			top: auto;
			bottom: 20px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	//Rounded
	&-rounded #{$self}-body {
		border-radius: 24px;
	}

	//Block (full-width)
	&-block #{$self}-body {
		width: 100%;
	}

	//Block (full-width)
	&-action {
		font-weight: 500;
		margin-left: 3rem;
	}
}

// Show animation
// ==========================================================================

@keyframes toast-show-animation {
	0% {
		opacity: 0;
		transform: translateY(20px);
		display: none;
	}
	15% {
		opacity: 1;
		transform: translateY(0);
		display: block;
	}
	85% {
		opacity: 1;
		transform: translateY(0);
		display: block;
	}
	100% {
		opacity: 0;
		transform: translateY(-20px);
		display: none;
	}
}
