//_tooltip.scss
//
// Tooltip via tooltip data attrbiute, position & dark mode
// ==========================================================================

[tooltip] {
	position: relative;
	cursor: pointer;

	&::after,
	&::before {
		position: absolute;
		opacity: 0;
		will-change: opacity;
		transition: opacity $tooltip-transition-time, transform $tooltip-transition-time;
	}

	//Main tooltip
	&::after {
		content: attr(tooltip);
		left: 50%;
		top: -6px;
		border-radius: $tooltip-border-radius;
		padding: $tooltip-padding;
		transform: translateX(-50%) translateY(-100%);
		font-size: $tooltip-font-size;
		font-weight: 400;
		text-align: center;
		color: $tooltip-font-color;
		background-color: #fff;
		text-transform: initial;
		box-shadow: $tooltip-box-shadow;
		pointer-events: none;
		min-width: 130px;
		z-index: 999;
		line-height: 1;
	}

	//Arrow
	&::before {
		content: '';
		display: inline-block;
		top: -6px;
		left: 50%;
		transform: translateX(-50%);
		border-width: 4px 6px 0;
		border-style: solid;
		border-color: #fff transparent transparent;
		z-index: 1000;
	}

	//Hover
	&:hover::after,
	&:hover::before {
		opacity: 1;
	}
}

// Dark
// ==========================================================================

@if $tooltip-enable-dark {
	[tooltip-color='dark'] {
		&::after {
			background-color: $tooltip-dark-color;
			color: color-contrast($tooltip-dark-color);
		}

		&::before {
			border-top-color: $tooltip-dark-color;
		}
	}
}

// Positions (::after - Main tooltip, ::before - Arrow)
// ==========================================================================

//Top
[tooltip-position='top'] {
	&::after,
	&::before {
		left: 50%;
	}
}

//Right
[tooltip-position='right'] {
	&::after {
		left: 100%;
		top: 50%;
		margin-left: 8px;
		transform: translateX(0%) translateY(-50%);
	}

	&::before {
		left: 100%;
		top: 50%;
		margin-left: 1px;
		transform: translateY(-50%) rotate(90deg);
	}
}

//Bottom
[tooltip-position='bottom'] {
	&::after {
		top: 100%;
		margin-top: 8px;
		transform: translateX(-50%) translateY(0%);
		z-index: 100;
	}

	&::before {
		top: 100%;
		margin-top: 8px;
		transform: translateX(-50%) translateY(-100%) rotate(-180deg);
	}
}

//Left
[tooltip-position='left'] {
	&::after {
		left: 0%;
		top: 50%;
		margin-left: -8px;
		transform: translateX(-100%) translateY(-50%);
	}

	&::before {
		left: 0%;
		top: 50%;
		margin-left: -12.2px;
		transform: translateY(-50%) rotate(-90deg);
	}
}
