// -----------------------------------------------------------------------------
// _content.scss
// This file contains styles for the content of the page (middle section).
// -----------------------------------------------------------------------------

.content {
	h1 {
		font-size: 2.2em;
		//margin: 2.33333rem 0;
	}

	h2 {
		font-size: 1.6em;
	}

	h3 {
		font-size: 1.4em;
	}

	@include media-desk {
		padding-left: 400px;
	}

	@include media-hd {
		padding-left: 80px;
	}
}
