// -----------------------------------------------------------------------------
// _footer.scss
// This file contains all styles related to the footer of the site.
// -----------------------------------------------------------------------------

footer.primary {
}
