// -----------------------------------------------------------------------------
// _header.scss
// This file contains all styles related to the header of the site.
// -----------------------------------------------------------------------------

header.primary {
	height: 75px;
	// position: fixed;
	// width: 100%;

	.logo {
		width: 40px;
	}

	nav.primary {

		ul {
			list-style-type: none;

			li {
				font-weight: 300;
				font-size: 13px;
			}

			.download {
				border: 1px solid $white;
				padding: 8px 30px;
                border-radius: 500px;
                
				img {
					width: 20px;
				}
			}

			a:hover {
				text-decoration: none;
			}
		}
	}
}
