// -----------------------------------------------------------------------------
// _variables.scss
// This file contains all variables for scss files.
// -----------------------------------------------------------------------------

// Breakpoints
// ==========================================================================

$grid-breakpoint-mob: 568px !default;
$grid-breakpoint-tab: 768px !default;
$grid-breakpoint-desk: 1024px !default;
$grid-breakpoint-hd: 1408px !default;

// Colours
// ==========================================================================

$black: #000000 !default;
$white: #ffffff !default;
$text-color: #34495e; 
$primary: #29b6f6 !default;
$primary-dark: #0086c3 !default;
$primary-light: #73e8ff !default;
$light-grey: #999 !default;


// Typography
// ==========================================================================
