// -----------------------------------------------------------------------------
// _variables.scss
// This file contains all variables for scss files.
// -----------------------------------------------------------------------------

// Breakpoints
// ==========================================================================

$grid-breakpoint-mob: 568px !default;
$grid-breakpoint-tab: 768px !default;
$grid-breakpoint-desk: 1024px !default;
$grid-breakpoint-hd: 1408px !default;

// Colours
// ==========================================================================

$black: #000000 !default;
$white: #ffffff !default;
$text-color: #34495e;
$primary: #FF2451 !default;
$light-grey: #999 !default;

// Typography
// ==========================================================================

// Layout
// ==========================================================================
$header-height: 75px;
