// -----------------------------------------------------------------------------
// _borders.scss
// This file contains styles that are specific to the borders page.
// -----------------------------------------------------------------------------

.borders-page {
	.border-radius-demo {
		.text {
			width: 75px;
			height: 75px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 10px;
		}
	}

	.h-300 {
		height: 300px;
	}
}
