// -----------------------------------------------------------------------------
// _grid.scss
// This file contains styles that are specific to the button page.
// -----------------------------------------------------------------------------

.grid-page {

	//Small primary columns
	.column-demo {
		margin-top: 20px;
		

		.row {
			margin: 0 -5px;
		}

		.row.no-gaps  {
			margin: 0;

			[class^='col-'] {
				padding: 0;
				
			}
		}

		[class^='col-'] {
			padding: 0 5px;

			.text {
				padding: 15px 0;
				background: $primary;
			}
		}
	}

	//Browser container window
	.browser {
		.container-fullwidth {
			z-index: 99;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 95%;
			background: rgba(0, 0, 0, 0.07);
			height: 40px;
		}
	}
}
