// -----------------------------------------------------------------------------
// _home.scss
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

section.hero {
	height: calc(100vh - 75px);
	min-height: 500px;

	.container {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	.home-logo {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 70%;
		height: auto;
	}

	.home-illusration {
		transform: scale(1.3);
	}
}

.home-background {
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: -1;
}
