// -----------------------------------------------------------------------------
// _spacing.scss
// This file contains styles that are specific to the spacing page.
// -----------------------------------------------------------------------------

.spacing-page {
	.spacing-table {
		font-size: 14px;
		font-family: $font-code;
		line-height: 1.4rem;
		color: rgb(128, 128, 128);
		text-shadow: 0 1px white;

		.column:nth-child(1),
		.column:nth-child(3) {
			border-right: 1px solid rgba(0, 0, 0, 0.1);
			//padding-right: 20%;
		}

		.item {
			padding: 5px 0;
		}
	}
}
