/**
 * master.scss
 * Imports all files from abstracts, base, components, layout, pages & vendor
 * @author Ainsley Clark
 * @author URL:   https://www.ainsleyclark.com
 * @author email: info@ainsleyclark.com
 */

/*  ====================
    Abstracts
    ==================== */
@import 'abstracts/_variables';
@import 'abstracts/_functions';
@import 'abstracts/_mixins';

/* ====================
    Base
    ==================== */
@import 'base/_global';
@import 'base/_fonts';
@import 'base/_typography';
@import 'base/_fonts';

/* ====================
    Vendor
    ==================== */

/* ====================
    Components
    ==================== */
@import 'components/_lists';
@import 'components/_code';
@import 'components/_table';
@import 'components/_browser';

/* ====================
    Layout
    ==================== */
@import 'layout/_header';
@import 'layout/_sidenav';
@import 'layout/_smallnav';
@import 'layout/_content';
@import 'layout/_footer';

/* ====================
    Pages
    ==================== */
@import 'pages/_home';
@import 'pages/_grid';
@import 'pages/_flex';
@import 'pages/_spacing';
@import 'pages/_sizing';
@import 'pages/_text';
@import 'pages/_button';
