html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: $font-stack;
	font-size: 1rem;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased; // sass-lint:disable-line  no-vendor-prefixes
	-webkit-tap-highlight-color: transparent; // sass-lint:disable-line  no-vendor-prefixes
}

a,
a:visited {
	color: inherit;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}
