//_order.scss
//
//Adds order classes to each breakpoint (push & pull).
// ==========================================================================

@each $modifier, $breakpoint in $grid-properties {
	@include create-mediaquery($breakpoint) {
		.order#{$modifier}-first {
			order: -1 !important;
		}
		.order#{$modifier}-last {
			order: $grid-columns + 1 !important;
		}
		@for $i from 1 through $grid-columns {
			.order#{$modifier}-#{$i} {
				order: #{$i} !important;
			}
		}
	}
}
